.aboutMe__title{
    color: white;
    font-size: 5rem;

    font-family: var(--font-family);
    text-align: left;
    margin: 50px;
    margin-left: 0;
}

.aboutMe__list-items{
    font-size: 2rem;
}

.aboutMe-content__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.aboutMe-img{
    max-width: 768px;
    max-height: 432px;
}

.freya-0__img{
    max-width: 312px;
    max-height: 400px;

    margin: 10px;

    transition: max-height 1s linear, max-width 1s linear;
}

.freya-0__img:hover{
    max-width: 330px;
    max-height: 420px;
}


.freya-img__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    padding: 10px 50px;
}

.map-img__container{
    display: flex;
    justify-content: left;
}

.map__img{
    margin: 50px;
}

