.bongocatleft{
    opacity: 1;

    animation: ShowAndNotShow linear 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;

    margin-top: -50px;;
}

.bongocatright{
    opacity: 0;

    animation: NotShowAndShow linear 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;

    margin-top: -211mm;
}

@keyframes ShowAndNotShow{
    0%, 50% {
        opacity: 1;
    }
    51% ,100% {
        opacity: 0;
    }
}


@keyframes NotShowAndShow{
    0%, 50% {
        opacity: 0;
    }
    51%, 100% {
        opacity: 1;
    }
}