.card-container{
    width: 200px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.3s;
    animation: ease-in;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.card-container:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px -5px;
}

.image-container{
    overflow: hidden;
    height: 100px;
}

.card-content{
    margin: 1rem;
    margin-top: 0.5rem;
}

h3,p{
    /*resetting default value*/
    margin: 0;
    padding: 0;
}

.card-title{
  margin-bottom: 0.5rem; 
}




