#gato{
    background: url('https://res.cloudinary.com/pastelitos/image/upload/v1610526571/eva/gatito_pushui.svg');
    height: 297px; 
    width: 507.5px;
    z-index: 10;
    -webkit-animation: sprite-animation 1.2s steps(16,end) infinite;
    -moz-animation: sprite-animation 1.2s steps(16,end) infinite; 
    -ms-animation: sprite-animation 1.2s steps(16,end) infinite; 
    animation: sprite-animation 1.2s steps(16,end) infinite, CatWalk linear 10s infinite;
    }

.gato__link{
    width: 508px;
    height: 297px;
}


@-webkit-keyframes sprite-animation { 
        from { background-position: 0 0; }
        to { background-position: -8120px 0; } 
    }

@-ms-keyframes sprite-animation { 
        from { background-position: 0 0; }
        to { background-position: -8120px 0; }
    }

@-moz-keyframes sprite-animation { 
        from { background-position: 0 0; }
        to { background-position: -8120px 0; }
    }

@keyframes sprite-animation { 
        from { background-position: 0 0; }
        to { background-position: -8120px 0; }
    }
    

@keyframes CatWalk{
    0% {
        margin-left: -510px;
    }

    100% {
        margin-left: 100%;
    }

}
