html,
body {
    height: 100%;
}

body {
    font-size: 60px;
    font-weight: 900;
    overflow: hidden;
}

.container {
    align-items: center;
    cursor: crosshair;
    display: flex;
    height: 100%;
    justify-content: center;
    position: relative;
    user-select: none;
}

.line {
    display: inline-block;
    margin: 0 0.2em;
}

.cathands {
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
}

.left-paw-wrapper,
.right-paw-wrapper {
    left: 50%;
    position: absolute;
    top: 700px;
    transition: transform .15s cubic-bezier(0.175, 0.885, 0.425, 4);
}
.left-paw-wrapper[data-boost='true'],
.right-paw-wrapper[data-boost='true']{
    transition: transform 2s cubic-bezier(0.075, 0.820, 0.165, 1.000);
}

.paw {
    bottom: 590px;
    height: 0;
    left: 50%;
    position: absolute;
    width: 0;
}
.paw:before {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/59639/paws.png') no-repeat 0 0;
    content: "";
    display: block;
    height: 270px;
    left: -40px;
    position: absolute;
    top: -224px;
    width: 114px;
}

.left-paw,
.right-paw {
    bottom: 0;
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
}
.left-paw:before,
.right-paw:before {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/59639/paws.png') no-repeat 0 -272px;
    bottom: -71px;
    content: "";
    display: block;
    height: 728px;
    left: -82px;
    position: absolute;
    width: 200px;
}

/* left paw */
.left-paw-wrapper {
    left: -320px;
    transform: rotate(3deg);
}
.left-paw-wrapper[data-boost='true'] {
    transform: rotate(-15deg);
}
.left-paw {
    transform: rotate(13deg);
    animation: leftArm 1.5s ease-in-out 0s infinite alternate;
}
.left-paw .paw {
    animation: leftPaw 2.25s ease-in-out 0s infinite alternate;
    transform: rotate(3deg);
}

/* right paw */
.right-paw-wrapper {
    left: 320px;
    transform: rotate(-3deg);
}
.right-paw-wrapper[data-boost='true'] {
    transform: rotate(15deg);
}
.right-paw {
    animation: rightArm 2s ease-in-out 0s infinite alternate;
    transform: rotate(-13deg);
}
.right-paw:before {
    transform: scaleX(-1);
}
.right-paw .paw {
    transform: rotate(-3deg);
}
.right-paw .paw:before {
    transform: scaleX(-1);
}

@keyframes leftArm {
    0% { transform: translate3d(0, 0, 0) rotate(12deg); }
    100% { transform: translate3d(0, 10px, 0) rotate(13deg); }
}

@keyframes leftPaw {
    0% { transform: rotate(4deg); }
    100% { transform: rotate(8deg); }
}

@keyframes rightArm {
    0% { transform: translate3d(0, 0, 0) rotate(-12deg); }
    100% { transform: translate3d(0, 12px, 0) rotate(-13deg); }
}

@keyframes rightPaw {
    0% { transform: rotate(-4deg); }
    100% { transform: rotate(-9deg); }
}