<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Cat Hands</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel='stylesheet' href='https://codepen.io/jonny/pen/jQvLEr/b3e4dc7bad564ec9e18b5b0928f75587.css'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->

<!-- partial -->
  <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/59639/bundle_copy.js'></script><script  src="./script.js"></script>

</body>
</html>