.SpinningSun {
    animation: rotation 2s linear infinite;
    height: 10rem;
    width: 10rem;
    object-position: center top;
}

@keyframes rotation {

    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

