.home-background__container{
    display: flex;
    flex-direction: column;
    justify-content: end;

    background-image: url("./park.svg");
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: auto 100%;

    overflow-x: hidden;
}

.home-night-background__container{
    display: flex;
    flex-direction: column;
    justify-content: end;

    background-image: url("./parknight.svg");
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: auto 100%;

    overflow-x: hidden;
}