:root {
    --background-color: rgb(31, 31, 31);
    --primary-color: #2ec7ff;
    --secondary-color: #a67bd3;
    --tertiary-color: #8d8d8d;
    --bold-weight: 600;
    --light-weight: 300;
}

html,body{
    height: 100%
}

.introduction
{
    margin-top: 80px;
    margin-left: 100px;
}

.description{
    color: #8d8d8d;
    letter-spacing: 3px;
    font-weight: var(--light-weight);
}

.main-page {
    background-color: var(--background-color);
    height: 100%
}

.page {
    background-color: var(--background-color);
    /* position: fixed; */
    margin-top: -20px;
    width: 100%;
    height: 110vh
}

.page2 
{
    background-color: var(--background-color);
    /* position: fixed; */
    margin-top: -20px;
    width: 100%;
}

.elementToFadeInAndOut {
    animation: FadeInFadeOut linear 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes FadeInFadeOut{
    0% { opacity: 0;}

    100% { opacity: 1;}
}



