.Button{
  background: linear-gradient(to right, #ff5f6d, #ffc371);;
  border-radius: 6px;
  box-sizing: border-box;
  color: #ffffff;
  display: block;
  height: 50px;
  font-size: 1.4em;
  font-weight: 600;
  padding: 10px;
  position: relative;
  text-decoration: none;
  width: 7em;
  z-index: 2;
}

.Button:hover {
  color: #fff;
  }

.Button.Buttonspan{
  align-items: center;
  background:  #025E91;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}

.Button:hover .Buttonspan {
  background: transparent;
  }