/* --proprty = CSS custom properties, that are defined 
so that specific vlaues can be reused throughought the document*/

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap");
:root {
    --main-bg-color: #1F271B;
    --second-bg-colour: #0B4F6C;
    --third-bg-color: #145C9E;
    --fourth-bg-color: #CBB9A8;
    --font: Roboto Mono, monospace;
}

.SalmahPage {
    background-color: var(--main-bg-color);
    height: 100vh;
}

