.center-container {
    transform: translate(-50%, -50%);
    position: relative;
    left: 60%;
    top: 50px;
}

.salmahcontainer{
    position: relative;
    display: inline-block;
    padding: 0 40px;
    cursor: pointer;
}

.text{
    font-size: 75px;
    text-transform: uppercase;
    font-weight: 900;
    position: relative;
    color: #F0F8FF
}

.text::before{
    content: attr(data-text);
    position: absolute;
    color: #b9dcf2;
    width:0;
    overflow: hidden;
    transition: 0.6s;
}

.salmahcontainer::before{
    content: "";
    width: 0%;
    height:100%;
    position: absolute;
    right: 0;
    top: 0;
    background: #f6cfbe;
    transition: 0.6s;
}

.salmahcontainer:hover .text::before, .salmahcontainer:hover::before{
    width: 100%;
}