.animated_typing span{
    padding: top 50px;
    display: flex;
    flex-direction: row;
    
}

.animated_typing{
    font-family: system-ui;
    font-size: 450px;
    text-align: center;
    padding: 5px;
}